.about {
  position: relative;

  background: url(../img/ui/about_bg.jpg) center center no-repeat;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: transparentize($c-gray, .3);
  }
}

.about__container {
  z-index: 10;
}
