.d-none {
  display: none;
}

@media (max-width: $xl) {
  .d-xl-block {
    display: block;
  }

  .d-xl-none {
    display: none;
  }
}

@media (max-width: $lg) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }
}
